@import "./variables.scss";
@import "./normalize.scss";
* {
  box-sizing: border-box;
}
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.formContainer {
  background-color: rgb(226, 180, 95);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.logo {
  color: rgb(228, 104, 22);
  font-weight: bold;
  font-size: 30px;
}
.title {
  color: rgb(228, 104, 22);
  font-size: 18px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(226, 199, 168);
  color: rgb(223, 112, 38);
}
button {
  background-color: rgb(175, 111, 37);
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
p {
  color: rgb(223, 112, 38);
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  // margin: 100px auto;
}
.header {
  border-bottom: 1px solid rgb(204, 183, 156);
  padding: 40px 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
}
.header {
  .container {
    padding-top: 0px;
    // margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__logo {
  display: flex;
}
.header__logo img {
  margin-right: 15px;
  width: 100px;
}

.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

.header__logo p {
  color: #7b7b7b;
}
.content {
  padding: 40px 0;
}
.content__error {
  margin: 100px auto;
  text-align: center;
}
.content__title {
  margin: 35px 0;
}
.content__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
}
.product-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
}
.product-block__image {
  width: 260px;
  height: 260px;
}
.product-block__title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
.product-block__selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
}
.product-block__selector ul {
  display: flex;
  padding: 0;
  flex: 1;
}
.product-block__selector ul:first-of-type {
  margin-bottom: 6px;
}

.product-block__selector li {
  padding: 8px;
  flex: 1;
  font-weight: 600;
  font-size: 14px;
}
.product-block__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.product-block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
.button {
  display: inline-block;
  background-color: rgb(223, 112, 38);
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
}
.button--outline {
  background-color: #fff;
  border-color: rgb(223, 112, 38);
}
.button--outline span {
  color: rgb(223, 112, 38);
}
.button--outline svg path {
  fill: rgb(223, 112, 38);
}
.button--add svg {
  margin-right: 2px;
}
.button--add span {
  font-weight: 600;
  font-size: 16px;
}
.button--add i {
  display: inline-block;
  border-radius: 30px;
  background-color: $orange;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}
.user__logo {
  cursor: pointer;
}
.info__title {
  padding: 40px;
  text-align: center;
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}
.user__info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  width: 500px;
  justify-content: center;
}
.user__info div {
  font-size: 23px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(204, 183, 156);
}
.about p {
  color: black;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 0;
}
.photo img {
  width: 500px;
}
.info {
  position: relative;
}
.back {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid rgb(223, 112, 38);
  color: black;
}

.search {
  position: relative;
  left: 15px;
  top: 18px;
}
.search__input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;
}

.search i {
  position: absolute;
  right: 6px;
  top: 9px;
  color: rgba(0, 0, 0, 0.26);
  font-size: 23px;
}
.header__cart {
  // display: block;
  // position: relative;
  // left: 65%;
  // top: 16px;
}
.button--cart {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;
  text-decoration: none;
}
.button--cart span {
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.button--cart svg {
  margin-right: 8px;
  margin-bottom: 1px;
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 10%;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      &-minus {
        &:disabled {
          opacity: 0.4;
          border-color: #787878;

          &:active {
            transform: none;
          }
          &:hover {
            background-color: transparent;
            svg path {
              fill: #787878;
            }
          }
        }
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;
      }
      &-plus {
        &:disabled {
          opacity: 0.4;
          border-color: #787878;
        }
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
.container--cart {
  // margin-top: 10%;
  .content__items {
    display: block;
  }
}
.not__found {
  text-align: center;
  h1 {
    line-height: 90%;
  }
  span {
    font-size: 4rem;
  }
  p {
    margin-top: 20px;
  }
}
.cart__right {
  position: relative;
  bottom: 10px;
  display: flex;
  align-items: center;
}
.leave {
  div {
    cursor: pointer;
    display: inline-block;
  }
}
.full {
  display: flex;
  justify-content: center;
  column-gap: 200px;
  margin-top: 100px;
  position: relative;
}
.full--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-bottom: 30px;
    font-weight: bold;
  }
  img {
    max-width: 300px;
    margin-bottom: 30px;
  }
  div {
    font-size: 25px;
    font-weight: bold;
  }
  .full__btn {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 18px;
  }
}
.full--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn {
    cursor: pointer;
    &-d {
      i {
        color: red;
      }
    }
  }
  .button--outline {
    padding-top: 4px;
  }

  div {
    font-size: 25px;
    font-weight: bold;

    li {
      &:first-child {
        margin-top: 20px;
      }
      font-size: 20px;
      font-weight: normal;
      list-style: circle;
    }
    margin-bottom: 20px;
  }
  .rating {
    display: flex;
    flex-wrap: nowrap;
    div {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.review {
  display: flex;
  padding: 15px;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid $orange;
  &__top {
    display: flex;
    font-size: 20px;
    column-gap: 20px;
  }
  &__author {
    font-weight: bold;
  }
  &__rate {
    font-weight: bold;
  }
}
.product-block {
  position: relative;
  .btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    cursor: pointer;
  }
  .btn-d {
    i {
      color: red;
    }
  }
}
.bg {
  background-color: $background;
  color: rgb(175, 111, 37);
}
