* {
  box-sizing: border-box;
}
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.formContainer {
  background-color: rgb(226, 180, 95);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.logo {
  color: rgb(228, 104, 22);
  font-weight: bold;
  font-size: 30px;
}
.title {
  color: rgb(228, 104, 22);
  font-size: 18px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(226, 199, 168);
  color: rgb(223, 112, 38);
}
button {
  background-color: rgb(175, 111, 37);
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
p {
  color: rgb(223, 112, 38);
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid rgb(204, 183, 156);
  padding: 40px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
}
.header__logo img {
  margin-right: 15px;
  width: 100px;
}

.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

.header__logo p {
  color: #7b7b7b;
}
.content {
  padding: 40px 0;
}
.content__error {
  margin: 100px auto;
  text-align: center;
}
.content__title {
  margin: 35px 0;
}
.content__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
}
.product-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
}
.product-block__image {
  width: 260px;
  height: 260px;
}
.product-block__title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
.product-block__selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
}
.product-block__selector ul {
  display: flex;
  padding: 0;
  flex: 1;
}
.product-block__selector ul:first-of-type {
  margin-bottom: 6px;
}

.product-block__selector li {
  padding: 8px;
  flex: 1;
  font-weight: 600;
  font-size: 14px;
}
.product-block__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.product-block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
.button {
  display: inline-block;
  background-color: rgb(223, 112, 38);
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
}
.button--outline {
  background-color: #fff;
  border-color: rgb(223, 112, 38);
}
.button--outline span {
  color: rgb(223, 112, 38);
}
.button--outline svg path {
  fill: rgb(223, 112, 38);
}
.button--add svg {
  margin-right: 2px;
}
.button--add span {
  font-weight: 600;
  font-size: 16px;
}
.user__logo {
  cursor: pointer;
}
.info__title {
  padding: 40px;
  text-align: center;
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}
.user__info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  width: 500px;
  justify-content: center;
}
.user__info div {
  font-size: 23px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(204, 183, 156);
}
.about p {
  color: black;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 0;
}
.photo img {
  width: 500px;
}
.info {
  position: relative;
}
.back {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid rgb(223, 112, 38);
  color: black;
}
